@import "tailwindcss";

@layer utilities, base, components;

@theme {
    --scrollbar-thumb: oklch(70.9% 0.01 56.259 / 0.7);
    --scrollbar-track: oklch(21.6% 0.006 56.043 / 0.2);
    --scrollbar-thumb-radius: 4px;
    --scrollbar-track-radius: 4px;
    --scrollbar-corner-radius: 4px;

    --color-cinema-yellow: #fff000;
    --color-cinema-gray: #dad5d0;

    --fill-cinema-on: var(--color-cinema-yellow);
    --fill-cinema-off: var(--color-cinema-gray);
    --drop-shadow-white: "2px 2px 8px rgba(170 170 170 / 0.7)";
    --drop-shadow-primary: "2px 2px 6px rgba(0 0 0 / 0.5)";
}

@layer base {
    @font-face {
        font-family: "zzz";
        font-stretch: 90%;
        white-space: nowrap;
        src:
            local("Mont Heavy"),
            url(./fonts/ZZZ_FR.ttf) format("truetype");
    }

    @font-face {
        font-family: "paybooc";
        font-weight: bold;
        src: url(./fonts/paybooc-Bold.woff);
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: oklch(70.9% 0.01 56.259 / 0.5);
    }

    :root {
        font-family:
            "paybooc", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        /* line-height: 1.5; */
        font-weight: 400;

        color-scheme: light dark;
        color: rgba(255, 255, 255, 0.85);
        scrollbar-width: thin;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply bg-linear-to-t/hsl from-zinc-950 from-80% to-taupe-900;
    }

    h1 {
        @apply text-4xl leading-none text-shadow-lg/25 capitalize;
    }
}

@layer components {
    .card-primary {
        @apply relative overflow-hidden border border-solid rounded-xl border-stone-700/70 bg-stone-800/60 transition-all duration-500 hover:border-stone-600/15 shadow-xl p-7;
    }
    /* 
    .shadow-primary {
        filter: drop-shadow("2px 2px 6px rgba(0 0 0 / 0.5)");
    }

    .shadow-white {
        filter: drop-shadow("2px 2px 8px rgba(170 170 170 / 0.7)");
    } */

    .img-cinema-char-profile {
        @apply absolute max-w-none top-0 -left-6 h-187.5 z-10 opacity-65 select-none;
    }

    .divider-base {
        @apply flex box-border clear-both opacity-15;
    }

    .divider-disc {
        @apply border-[0.75px] border-solid divide-solid my-2.5 mx-auto;
    }

    .divider-text {
        @apply border border-dashed grow my-auto mx-2.5;
    }

    .button-base {
        @apply text-sm text-gray-900 border border-stone-300 rounded-md cursor-pointer bg-gray-50 dark:text-stone-400 focus:outline-none dark:bg-stone-700 dark:border-stone-600 dark:placeholder-gray-400 text-[16px] opacity-90;
    }

    .text-border {
        -webkit-text-stroke-width: 6px;
        -webkit-text-stroke-color: #000000cc;
        paint-order: stroke fill;
    }

    .main-menu {
        @apply inline-block overflow-hidden h-screen bg-stone-900 py-2 text-[17px] transition-all duration-500  rounded-tr-2xl shrink-0 z-50 sticky top-0;
    }

    .main-menu-button {
        @apply block hover:bg-stone-700 focus:bg-stone-800  py-1 rounded-sm float-left text-left w-full whitespace-nowrap;
    }

    .hover-stats {
        @apply bg-stone-600/60 rounded-xl border-stone-700 transition-all duration-500 hover:border-stone-600/15 shadow-xl;
    }

    .div-input-calc {
        @apply relative flex m-3 bg-stone-950 rounded-lg border-2 border-stone-700 h-fit hover:border-stone-900 transition duration-300;
    }

    .green-box {
        @apply text-black/0 h-5.25 relative shadow-md rounded-md bg-lime-500/60 pointer-events-none;
    }
}
/* 
@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: transparent;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 4px;
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: oklch(70.9% 0.01 56.259 / 0.5);
    }
} */
